.cuadroPartido {
    height: 100px;
    width: 800px;
    color: aliceblue;
    background-color: rgb(73, 73, 170);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    position: relative;
    text-align:center;
}